*.pyc
*.pyo
*~
*.wpr
*.wpu
.*
*.sqlite
*.h5
*.edf

__pycache__/
/records/*
/logs
/docs/build
/test
/local
/dist
/build
/sandbox
/gcpds
/pyside_material
/openbci_stream
*.egg-info
/venv
/bci_framework/default_projects/*/captures
bci_framework/default_extensions/latency_synchronization_*
