pyEDFlib==0.1.20
rpyc==5.0.1
kafka_python==2.0.2
ntplib==0.3.4
netifaces==0.10.9
requests==2.25.1
mne==0.22.0
scipy==1.6.1
tables==3.6.1
numpy==1.20.1
colorama==0.4.4
nmap==0.0.1
pyserial==3.5
rawutil==2.6.0
